.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lifeImages {
    width: 300px;
    height: 300px;
    object-fit: cover;


}

img {
  width: 300px;
  height: 200px;
  margin-left: -50px;
  margin-top: -16px;


}
.userPicDiv {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 50px;
  margin-bottom: -50px;
}

.description {
 border-style: solid;
  text-align: center;
 width: 294px;
  height: 298px;

}


ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 100px;
  margin-bottom: -30px;
  margin-left: 200px
}


.imageChange {
  margin: 50px
}

.descriptionChange{
    margin: 50px

}

p.description {
  background-color: slateblue;
}

section.bioInfo {
  margin-top: -125px;
  text-align: center;
  margin-left: 50px;

}

hr {
  width: 1000px;
    margin-top: 120px;
    margin-bottom: -110px;
    margin-right: 235px;
}