.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  width: 300px;
  height: 300px;
  display: inline;
}

.description {
 border-style: solid;
  text-align: center;
 width: 294px;
  height: 298px;

}


ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 100px;
}


.imageChange {
  margin: 50px
}

.descriptionChange{
    margin: 50px

}

p.description {
  background-color: slateblue;
}